@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: inherit;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 5rem 1fr;
}

header {
  background-color: #ff9000;
  padding: 1rem;
  grid-column: span 2;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
}

aside {
  background-color: #fafafa;
  padding: 2rem;
}

aside li span {
  margin-right: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

aside button:hover {
  background-color: #f0eded;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects button {
  font-size: 2rem;
  width: auto;
}

.projects button:hover {
  color: #ff9000;
  background-color: inherit;
}

aside p {
  font-size: 1.3rem;
  font-weight: 900;
}

.projectlist li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.projectlist li p {
  font-size: 1rem;
}

.projectlist li:hover {
  background-color: #f0eded;
}

.projectlist li button {
  padding: 0;
  width: auto;
  margin-left: auto;
  color: rgb(181, 185, 181);
}

/*
to fix bold font
to ADD transition!
*/

.main {
  background-color: #ffffff;
  padding: 2rem;
}

.main li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.main li p:first-of-type {
  margin-right: auto;
  margin-left: 10px;
}

.main li button {
  width: auto;
  padding: 5px 10px;
}

.main li button:nth-of-type(1) {
  color: rgb(8, 146, 15);
}

.main li button:nth-of-type(2) {
  color: rgb(186, 63, 6);
}

.main li:hover {
  background-color: #fafafa;
}
